[package]
edition = "2021"
name = "llama-node"
version = "0.0.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
# Default enable napi4 feature, see https://nodejs.org/api/n-api.html#node-api-version-matrix
clap = { version = "4.1.8", features = ["derive"] }
env_logger = "0.10.0"
log = "0.4"
once_cell = "1.17.1"
num_cpus = "1.15.0"
rand = "0.8.5"
llama-rs = { git = "https://github.com/rustformers/llama-rs.git", branch = "main", features = ["convert"] }
napi = { version = "2.12.4", default-features = false, features = ["napi6", "async"] }
napi-derive = "2.12.3"
tokio = { version = "1.26.0", features = ["full"] }
futures = "0.3"


[build-dependencies]
napi-build = "2.0.1"

[profile.release]
lto = true
